<h1>Listing utilizadors</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Data nascimento</th>
      <th>Localidade</th>
      <th>Email</th>
      <th>Telefone</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @utilizadors.each do |utilizador| %>
      <tr>
        <td><%= utilizador.nome %></td>
        <td><%= utilizador.data_nascimento %></td>
        <td><%= utilizador.localidade %></td>
        <td><%= utilizador.email %></td>
        <td><%= utilizador.telefone %></td>
        <td><%= link_to 'Show', utilizador %></td>
        <td><%= link_to 'Edit', edit_utilizador_path(utilizador) %></td>
        <td><%= link_to 'Destroy', utilizador, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Utilizador', new_utilizador_path %>
