<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @utilizador.nome %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @utilizador.data_nascimento %>
</p>

<p>
  <strong>Localidade:</strong>
  <%= @utilizador.localidade %>
</p>

<p>
  <strong>Email:</strong>
  <%= @utilizador.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @utilizador.telefone %>
</p>




<p>

  <strong>Noticias:</strong>
  <% @noticias.each do |n| %>
    <h3> <%= link_to n.titulo, n %> </h3>
    <p>- <%= n.texto %> </p>
    <p>- <%= n.img %> </p>
  <% end %>
</p>

<p><%= link_to 'Nova noticia', new_noticium_path(:utilizador_id => @utilizador.id) %> </p>

<%= link_to 'Edit', edit_utilizador_path(@utilizador) %> |
<%= link_to 'Back', utilizadors_path %>
