<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @utilizador.nome %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @utilizador.data_nascimento %>
</p>

<p>
  <strong>Localidade:</strong>
  <%= @utilizador.localidade %>
</p>

<p>
  <strong>Email:</strong>
  <%= @utilizador.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @utilizador.telefone %>
</p>
<hr>
    <strong>Competencias:</strong>
    <% @competencias.each do |c| %>
        <p>- <%= c.nome %> </p>
    <% end %>
<p><%= link_to 'Nova competencia', new_competencium_path(:utilizador_id => @utilizador.id) %> </p>
<hr>

<strong>Cursos:</strong>
<ul>
<% @cursos.each do |c| %>
    <li><b> <%= c.nome %> </b> - <%= c.univ %> - <%= c.ano %> </li>
<% end %>
</ul>
<p><%= link_to 'Novo curso', new_curso_path(:utilizador_id => @utilizador.id) %> </p>
<hr>

<strong>Noticias:</strong>
<% @noticias.each do |n| %>
    <h3> <%= link_to n.titulo, n %> </h3>
    <p>- <%= n.texto %> </p>
    <p>- <%= n.img %> </p>
<% end %>
<p><%= link_to 'Nova noticia', new_noticium_path(:utilizador_id => @utilizador.id) %> </p>
<hr>

<strong>Empregos</strong>
<% @empregos.each do |e| %>
    <p><b> <%= link_to Empresa.find(e.empresa_id).nome, Empresa.find(e.empresa_id) %> </b>
    - <%= e.cargo %> - <%= e.data_entrada %> // <%= e.data_saida %> </p>
<% end %>
<p><%= link_to 'Novo Emprego', new_emprego_path(:utilizador_id => @utilizador.id) %> </p>
<hr>

<strong>Contactos</strong>
<%if @contactos_aceites.size==0 %>
    <p>De momento não tem nenhum contacto na sua rede! Adicione <%= link_to "contactos", utilizadors_path %>!</p>
<% else %>
    <% @contactos_aceites.each do |c| %>
        <p><b> <%= link_to Utilizador.find(c.utilizador2_id).nome, Utilizador.find(c.utilizador2_id) %> </b>
          - <%= c.estado %>  </p>
    <% end %>
<% end %>
<hr>

<strong>Colegas</strong>
<%if @empregos.size==0 #TODO ADICIONAR CONDICAO PARA CONFIRMAR SE TEM COLEGAS%>
    <p>De momento não tem nenhum emprego! Edite o seu <%= link_to "perfil", edit_utilizador_registration_path %>!</p>
<% else %>
    <%if Empresa.find(@empregos.last.empresa_id).emprego.size==1 #TODO ADICIONAR CONDICAO PARA CONFIRMAR SE TEM COLEGAS%>
        <p>A sua empresa actual não tem funcionários</p>
    <% else %>
                            <%  #TODO CODIGO COPIADO PARA BLOCO %>
    <% end %>
<% end %>
<hr>
<hr>




<%= link_to 'Edit', edit_utilizador_path(@utilizador) %> |
<%= link_to 'Back', utilizadors_path %>
