<%= form_for(@emprego) do |f| %>
  <% if @emprego.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@emprego.errors.count, "error") %> prohibited this emprego from being saved:</h2>

      <ul>
      <% @emprego.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :utilizador_id %><br>
    <%= f.number_field :utilizador_id %>
  </div>
  <div class="field">
    <%= f.label :empresa_id %><br>
    <%= f.number_field :empresa_id %>
  </div>
  <div class="field">
    <%= f.label :cargo %><br>
    <%= f.text_field :cargo %>
  </div>
  <div class="field">
    <%= f.label :data_entrada %><br>
    <%= f.datetime_select :data_entrada %>
  </div>
  <div class="field">
    <%= f.label :data_saida %><br>
    <%= f.datetime_select :data_saida %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

