<p id="notice"><%= notice %></p>

<p>
  <strong>Utilizador:</strong>
  <%= @noticium.utilizador_id %>
</p>

<p>
  <strong>Img:</strong>
  <%= @noticium.img %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @noticium.texto %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @noticium.titulo %>
</p>

<%= link_to 'Edit', edit_noticium_path(@noticium) %> |
<%= link_to 'Back', noticia_path %>
