<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @empresa.nome %>
</p>

<p>
  <strong>Historia:</strong>
  <%= @empresa.historia %>
</p>

<p>
  <strong>Data criacao:</strong>
  <%= @empresa.data_criacao %>
</p>

<p>
  <strong>Email:</strong>
  <%= @empresa.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @empresa.telefone %>
</p>

<p>
  <strong>Morada:</strong>
  <%= @empresa.morada %>
</p>

<p>
  <strong>Areas:</strong>
  <%= @empresa.areas %>
</p>

<p>
  <strong>Projectos:</strong>
  <%= @empresa.projectos %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @empresa.admin_id %>
</p>


<strong>Empregados</strong>
<% @empregados.each do |e| %>
    <p><b> <%= link_to Utilizador.find(e.utilizador_id).nome, Utilizador.find(e.utilizador_id) %> </b>
      - <%= e.cargo %> - <%= e.data_entrada %> // <%= e.data_saida %> </p>
<% end %>
<p><%= link_to 'Novo Emprego', new_emprego_path(:utilizador_id => @empresa.id) %> </p>
<hr>
<hr>


<%= link_to 'Edit', edit_empresa_path(@empresa) %> |
<%= link_to 'Back', empresas_path %>
