<!DOCTYPE html>
<html>
<head>
  <title>LGP</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<br>
 <%= link_to 'Home', :controller =>'home', :action => :index %>
 | <%= link_to 'Utilizadores', utilizadors_path %>
 | <%= link_to 'Empresas', empresas_path %>


</body>
</html>
